body{
    margin: 0;
    padding: 0;
    background: #FFF8F0;
}
.nombre{
    width: 100%;
    height: 300px;
    background: #A7E8BD;
}
.nombre
.contenedor{
    width: 50%;
    height: 50%;
    position: absolute;
    left: 40%;
}
.nombre .contenedor
.p1{
    color: #FFF8F0;
    font-family: 'Baloo Tamma 2', sans-serif;
    font-weight: bolder;
    font-size: 50px;
}
.nombre
.img{
    position: absolute;
    top: 10%;
    right: 10%;
    width: 180px;
    height: 180px;
    border-radius: 100%;
    overflow: hidden;
}
.nombre
.img img{
    width: 179px;
    height: 259px;
}
.informacion_personal{
    width: 80%;
    height: auto;
    background: #A7E8BD;
    margin: 3% auto;
    padding: 20px;
    border-radius: 20px;
}
.informacion_personal
.titulo_seccion{
    color: #FFF8F0;
    font-family: 'Baloo Tamma 2', sans-serif;
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
    border-bottom: 3px #FFF8F0 solid;
}
.informacion_personal
.titulo_info{
    color: #FFF8F0;
    font-family: 'Baloo Tamma 2', sans-serif;
    font-weight: bolder;
    font-size: large;
    display: inline;
    margin-right: 10px;
}
.informacion_personal
.info_info{
    color: #392F5A;
    font-family: 'Baloo Tamma 2', sans-serif;
    font-weight: normal;
    font-size: large;
    display: inline;
}
.grid-container {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: auto auto auto auto auto;
    background-color: none;
    padding: 10px;
}
  
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px #58FCEC;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    transition: all 0.10s ease;

}
.grid-item:hover{
    background-color: #A7E8BD;
    cursor: pointer;
}

